body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

.section-des {
  margin-left: 15%;
  margin-right: 15%;
}
.section-des2 {
  margin-left: 10%;
  margin-right: 10%;
}

.login-area {
  display: block;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #ddd;
}

.logo a {
  text-decoration: none;
  padding-top: 6px;
  display: block;
}

.single-section h3 {
  margin-top: 20px;
  text-transform: uppercase;
}

.single-section i {
  font-size: 90px;
}

.s-product {
  border-radius: 10px;
}

.s-product h6 {
  color: #a8a8a8;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 17px;
  padding: 10px 0px;
}

.funaral-bg {
  border-top: 1px solid lightgrey;
}

.planning-banner img {
  width: 100%;
}

.shape {
  clip-path: polygon(72% 0, 96% 50%, 75% 100%, 0% 100%, 18% 49%, 0 0);
}

.funaral-bg h4,
.planning-content h4,
.section-des h2 {
  border-bottom: 3px solid #ffc107;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.heading h1 {
  font-size: 36px;
  display: inline-block;
  padding-top: 6%;
  border-bottom: 5px solid rgb(23, 162, 184);
}

.flow {
  box-sizing: border-box;
}

.flow p {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  color: white;
}

.margin{
    margin: auto;
}

.width1{
    width: 18rem;
}





/*========================== lectures style ======================*/

#lektioner:after {
    position: absolute;
    content: "";
    top: 160px;
    width: 80px;
    height: 3px;
    background: #17a2b8;
    left: calc(50% - 40px);
}
@media(max-width:678px) {
#lektioner:after{
    position: absolute;
    content: "";
    top: 205px;
    width: 80px;
    height: 3px;
    background: #17a2b8;
    left: calc(50% - 40px);
  }
}
.description{
  margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.lectures-card {
    box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
    /* height: 390px; */
    max-height: 450px;
    min-height: 405px;
}
.last-row .col-lg-4 .lectures-card{
  max-height: 450px;
  min-height: 305px
}

.lectures-card .card-header h4{
  color: #17a2b8;
}
.lectures-list{
  width: 100%;

}
.lec-first{
border-bottom: 1px solid rgba(0,0,0,.125);
}
.lectures-list li{
  border: none;
}
.card-subtitle {
    color: #6c757d!important
}
.lec-icon{
  color: #ffc107;
}
li a{
  color: #17a2b8;
}

/*==================== introduction style ===============================*/
.circle {
    position: relative;
    border: 2px solid  #ffc107;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 60px;
    text-align: center;
    margin-top: 50px;
    background-color:#ffc107;
    z-index: 2;
    font-weight: 700;
}
.circle:before {
    position: absolute;
    border: 1px solid  #ffc107;
    width: 0;
    height: 52px;
    display: block;
    content: '';
    left: 50%;
    z-index: 1;
    top: -54px;
    margin-left: -1px;
}
.bi-calendar-week,.bi-caret-right-fill{
  color: #ffc107
}
.schedule-txt{
  margin-top: 53px
}

.schedule-card{
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
}
.btn-link h3 , #uppgift{
  color: #000;
}
.btn-link:hover{
  text-decoration: none;
}
.btn-link:hover h3 ,.btn-link:hover #uppgift{
  color: #17a2b8;
}
.btn-link:focus {
  text-decoration: none;
    box-shadow: none;
}
.accordion .card .card-header h2{
    border:none;
}

summary {
    display: list-item;
    cursor: pointer;
    background: #f7f7f7;
    border: 1px solid #17a2b861;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
}
summary:focus{
  border: 1px solid #17a2b8;
}


.badge-info , .badge-danger{
 border-radius: 5px 0 0 5px;
}
.badge-secondary{
  border-radius: 0 5px 5px 0;
}
.badges{
  float: right;
}



/*============================= schedule style ======================*/
#schema:after{
  position: absolute;
  content: "";
  top: 170px;
  width: 80px;
  height: 3px;
  background: #17a2b8;
  left: calc(50% - 40px);
}
@media(max-width:678px) {
  #schema:after{
    position: absolute;
    content: "";
    top: 205px;
    width: 80px;
    height: 3px;
    background: #17a2b8;
    left: calc(50% - 40px);
  }
}
table{
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
}
tr td{
  background: #fff;
}
